<!DOCTYPE html>
<html ng-app="ascc" >
	<head>
		<title>Aerospike capacity calculator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >
		<link rel="stylesheet" href="ascc.css" >
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
		<!--[if lt IE 9]>
		    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
		<![endif]-->
	</head>
	<body>
		<div class="github-fork-ribbon-wrapper right">
			<div class="github-fork-ribbon">
				<a href="https://github.com/GeertJohan/aerospike-capacity-calculator">Fork me on GitHub</a>
			</div>
		</div>
		<div class="container" >
			<div class="row" >
				<div class="col-md-8" >
					<p>Calculate <strong>storage</strong> capacity requirements/limits for an Aerospike namespace. Memory capacity requires different formula's which are not yet added to this calculator. This calculator does not (yet) calculate: primary index, secondary indexes, replication.</p>
					<p>The Blob size and Records numeric fields accept 'k', 'm' and 'b'. e.g.: "1.2b" == "1,200,000,000"</p>
					<p style="color: red;">Use at your own risk. This is not an official Aerospike tool! Verify these calculations by doing your own.</p>
					<p>More information about capacity planning: <a href="http://www.aerospike.com/docs/operations/plan/capacity/" >aerospike.com/docs/operations/plan/capacity</a></p>
					<p>Source for this calculator (PR's welcome!): <a href="https://github.com/GeertJohan/aerospike-capacity-calculator" >github.com/GeertJohan/aerospike-capacity-calculator</a></p>
				</div>
			</div>
		</div>
		<div style="background-color: black; height: 2px;" >&nbsp;</div>
		<div ng-controller="CtrlCalculator" >

			<div class="container" >
				<h3>Namespace configuration</h3>
				<div class="row" >
					<div class="col-md-6" >
						<table class="table">
							<tr>
								<td>Block size:</td>
								<td><input ng-model="namespace.blockSize" type="number" style="width: 100px" > bytes</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="container" >
				<h3>Sets</h3>
				<button class="btn btn-success" ng-click="addSet()" >Add set</button>
				<button class="btn btn-info btn-xs" ng-click="addExamples()" >Add examples</button>
				<br/><br/>
				<div ng-repeat="set in sets" class="row ascc-set" >
					<div class="col-md-12" >
						<h4>Name</h4>
						<input type="text" ng-model="set.name" >
						<span ng-show="set.name" >
							<span bs-tooltip title="set name overhead" >9</span> +
							<span bs-tooltip title="length for `{{set.name}}`">{{set.name.length}}</span> =
							{{set.nameSize()}} bytes
						</span><br/>
						<button class="btn btn-danger btn-xs" ng-click="deleteSet($index)" >Delete set</button>
						<h4>Bins</h4>
						<button class="btn btn-success btn-sm" ng-click="set.addBin()" >Add bin</button>
						<table class="table" >
							<thead>
								<tr>
									<th>Name</th>
									<th>Type</th>
									<th>Data size</th>
									<th>Size</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="bin in set.bins" >
									<td>
										<input ng-model="bin.name" >
									</td>
									<td>
										<select ng-model="bin.type" >
											<option value="integer" >integer</option>
											<option value="strblob" >string/blob</option>
										</select>
									</td>
									<td>
										<span ng-show="bin.type=='integer'" >
											<span bs-tooltip title="64-bit integer" >8</span>
										</span>
										<input ng-show="bin.type=='strblob'" ng-model="bin.sizeText" style="width: 80px" ng-change="bin.sizeUpdate()" >
									</td>
									<td>
										<span bs-tooltip title="general overhead for each bin" >28</span> +
										<span ng-show="bin.type=='integer'">
											<span bs-tooltip title="integer overhead" >2</span> + <span bs-tooltip title="integer size" >8</span> = 38</span>
										<span ng-show="bin.type=='strblob'">
											<span bs-tooltip title="string/blob overhead" >5</span> + <span bs-tooltip title="string/blob size" >{{bin.size}}</span> = {{5+bin.size}}</span>
										bytes
									</td>
									<td>
										<button class="btn btn-danger btn-xs" ng-click="set.deleteBin($index)">Delete bin</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="3" ></th>
									<th>{{set.binsSize()}} bytes</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>

			<div class="container" >
				<h3>Namespace totals</h3>
				<div class="row" >
					<div class="ascc-totals col-md-12" >
						<table class="table" >
							<thead>
								<tr>
									<th>Name</th>
									<th>Record size</th>
									<th>Record size on disk</th>
									<th>Records</th>
									<th>Total size</th>
									<th>Total size on disk</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="set in sets" >
									<td>{{set.name}}</td>
									<td>
										<span bs-tooltip title="record overhead" >64</span> +
										<span bs-tooltip title="set name size" >{{set.nameSize()}}</span> +
										<span bs-tooltip title="all bins size" >{{set.binsSize()}}</span> =
										{{set.recordSize()}}
									</td>
									<td>
										<span bs-tooltip title="record size rounded up to a multiple of {{namespace.blockSize}} bytes" >{{set.recordSizeOnDisk()}}</span>
									</td>
									<td>
										<input style="width:100px" ng-model="set.numRecordsText" ng-change="set.numRecordsUpdate()" >
									</td>
									<td>
										<span bs-tooltip title="total size of actual data" >{{set.recordSize()*set.numRecords | numeraljs:'0[.00]b'}}</span>
									</td>
									<td>
										<span bs-tooltip title="total size of data on disk" >{{set.recordSizeOnDisk()*set.numRecords | numeraljs:'0[.00]b'}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
		<script src="angular-numeraljs.min.js"></script>
		<script src="ascc.js"></script>
	</body>
</html>
